.maintenance-page,
.install-page
{
  background: #381450;
  background-image: url(../images/grumpyBackground.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  font-family: "Trebuchet MS";
}

.layout-container{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.30) !important;
}

.brand-logo{
  background-image: url(../images/grumpyDevMedalion.png);
  height: 100px;
  width: 100px;
  background-size: cover;
}


@media (min-width: 48em){
  .layout-sidebar-first {
    width: 25%;
  }
}

@media (min-width: 48em) {
  main {
    width: 70%;
    padding-right: 0em;
    padding-left: 3.5em;
  }
}

.button--primary {
  background-image: none;
  background-image: none;
  background-color: #000000 !important;
  border: 2px solid #000000 !important;
  color: #FFFFFF !important;
  border-radius: unset !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.30) !important;
}


.button--primary:active,
.button--primary:hover,
.button--primary:focus {
  background-image: none!important;
  background-image: none!important;
  background-color: #ffffff !important;
  border: 2px solid #000000 !important;
  color: #000000 !important;
  border-radius: unset !important;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.30) !important;
}

.task-list .done {
  color: #7d0d0b;
}

.task-list .is-active {
  background: #7d0d0b;
  color: #FFFFFF;
}

.task-list .is-active:after {
  border-color: #FFFFFF;
  border-left-color: #7d0d0b;
}

@media (min-width: 48em) {
  .maintenance-page.path-frontpage:not(.user-logged-in) main {
    text-align:center;
    width: 100%;
    padding-right: 3.5em;
    padding-left: 3.5em;
  }
}

@media (min-width: 48em) {
  .maintenance-page.path-frontpage:not(.user-logged-in) .page-title {
    text-align: center;
    margin: 0;
    width: 100%;
  }

  .maintenance-page.path-frontpage:not(.user-logged-in) .brand-logo{
    margin: 0 auto;
  }
}
